{{ ansible_managed | comment }}
# Sourced by run-healthcheck.sh; values single-quoted for the shell. The tool list is a
# separate JSON file (tools.json) to avoid quoting JSON here.
GALAXY_URL='{{ galaxy_healthcheck_url }}'
GALAXY_API_KEY='{{ galaxy_healthcheck_api_key }}'
HEALTHCHECK_TOOLS_FILE='{{ galaxy_healthcheck_dir }}/tools.json'
HEALTHCHECK_JOB_TIMEOUT='{{ galaxy_healthcheck_job_timeout }}'
HEALTHCHECK_POLL_INTERVAL='{{ galaxy_healthcheck_poll_interval }}'
HEALTHCHECK_RETRIES='{{ galaxy_healthcheck_retries }}'
HEALTHCHECK_RETRY_DELAY='{{ galaxy_healthcheck_retry_delay }}'
HEALTHCHECK_INFLUX_URL='{{ galaxy_healthcheck_influx_url }}'
HEALTHCHECK_INFLUX_DB='{{ galaxy_healthcheck_influx_db }}'
HEALTHCHECK_INFLUX_USER='{{ galaxy_healthcheck_influx_user }}'
HEALTHCHECK_INFLUX_PASS='{{ galaxy_healthcheck_influx_pass }}'
HEALTHCHECK_INFLUX_MEASUREMENT='{{ galaxy_healthcheck_influx_measurement }}'
HEALTHCHECK_INFLUX_ERROR_MEASUREMENT='{{ galaxy_healthcheck_influx_error_measurement }}'
