CLAUDE.md
terraform/.terraform/
.worktrees/
*.retry
*.aux
*.log
*.out
*.pdf
.venv
*.pyc
*.code-workspace
.aimd/
srv
.aimd/
group_vars/var_templates/*
.vscode/
.devcontainer/
.vault-password.txt
.vault-password*.txt
.bash_history

# These are from requirements.yml and upstream
# roles/
logs/*
!logs/.gitkeep
collections/
.ansible/
roles/cloudalchemy.grafana/
roles/dev-sec.os-hardening/
roles/dev-sec.ssh-hardening/
roles/galaxyproject.galaxy*/
roles/galaxyproject.nginx/
roles/galaxyproject.cvmfs/
roles/galaxyproject.postgresql/
roles/galaxyproject.proftpd/
roles/galaxyproject.self_signed_certs/
roles/geerlingguy.docker/
roles/geerlingguy.gitlab/
roles/geerlingguy.java/
roles/geerlingguy.jenkins/
roles/geerlingguy.nfs/
roles/geerlingguy.nodejs/
roles/geerlingguy.pip/
roles/geerlingguy.repo-epel/
roles/influxdata.chrony/
roles/natefoo.postgresql_objects/
roles/usegalaxy-eu.autoupdates/
roles/usegalaxy-eu.certbot/
roles/usegalaxy-eu.dynmotd/
roles/usegalaxy-eu.galaxy-systemd/
roles/usegalaxy-eu.gxadmin/
roles/usegalaxy-eu.htcondor/
roles/usegalaxy_eu.influxdb*/
usegalaxy_eu.influxdbserver/
# roles/usegalaxy_eu.pulsar-util/
roles/usegalaxy_eu.tiaas2/
roles/usegalaxy-eu.update-hosts/
roles/galaxyproject.postgresql_objects
roles/galaxyproject.miniconda
roles/galaxyproject.gxadmin
roles/galaxyproject.tusd
roles/usegalaxy_eu.apptainer
roles/galaxyproject.repos
roles/galaxyproject.slurm
roles/usegalaxy_eu.tpv_auto_lint
roles/usegalaxy_eu.rabbitmqserver
roles/galaxyproject.pulsar
roles/geerlingguy.redis
roles/usegalaxy_eu.flower
roles/galaxyproject.tiaas2
roles/dj-wasabi.telegraf
roles/mvdbeek.sentry_selfhosted
roles/usegalaxy-eu.ansible-postgresql
roles/usegalaxy_eu.certbot
roles/usegalaxy_eu.htcondor
roles/grycap.htcondor
roles/geerlingguy.postgresql
roles/geerlingguy.supervisor
roles/mtchavez.influxdb
roles/rossmcdonald.influxdb
roles/artis3n.tailscale
roles/usegalaxy_eu.gie_proxy
roles/ansible-community.ansible-vault
inventories/host_files/*