---
#igegu: comment out the variables i dont use
pgconn:
    main: {{ monitoring_pgconn }}


influxdb:
    host: {{ influxdb.host }}
    port: 8086
    database: {{ influxdb.database }}
{#    ssl: true #}
{#    username: {{ influxdb.username }} #}
{#    password: {{ influxdb.password }} #}

