<?xml version="1.0"?>
<object_store type="distributed" id="primary">
    <backends>
        <backend id="tier1_data" type="irods" weight="1" store_by="uuid">
            <auth username="{{ vault_irods_user }}" password="{{ vault_irods_password }}" />
            <resource name="default" />
            <zone name="{{ vault_irods_zone }}" />
            <connection host="{{ vault_irods_host }}" port="{{ vault_irods_port }}" timeout="300" refresh_time="1800" connection_pool_monitor_interval="15"/>
            <ssl client_server_negotiation="{{ vault_irods_client_server_negotiation }}" client_server_policy="{{ vault_irods_client_server_policy }}" 
                encryption_algorithm="{{ vault_irods_encryption_algorithm }}" encryption_key_size="{{ vault_irods_encryption_key_size }}" 
                encryption_num_hash_rounds="{{ vault_irods_encryption_num_hash_rounds }}" encryption_salt_size="{{ vault_irods_encryption_salt_size }}" 
                ssl_verify_server="{{ vault_irods_ssl_verify_server }}" ssl_ca_certificate_file="{{ vault_irods_ssl_ca_certificate_file }}" />
            <logical path="{{ vault_irods_cwd }}/test" />
            <cache path="{{ galaxy_object_store_cache_path }}" size="10000" cache_updated_data="True"/>
            <extra_dir type="job_work" path="{{galaxy_job_working_directory}}" />
            <extra_dir type="temp" path="{{galaxy_tmp_dir}}"/>
        </backend>
        <backend id="new_internal_nfs_shares" type="disk" weight="0" store_by="uuid">
            <files_dir path="{{galaxy_file_path}}" />
            <extra_dir type="job_work" path="{{galaxy_job_working_directory}}" />
            <extra_dir type="temp" path="{{galaxy_tmp_dir}}"/>
        </backend>
        <backend id="internal_nfs_shares" type="disk" weight="0" store_by="id">
            <files_dir path="{{old_galaxy_file_path}}" />
            <extra_dir type="job_work" path="{{galaxy_job_working_directory}}" />
            <extra_dir type="temp" path="{{galaxy_tmp_dir}}"/>
        </backend>
    </backends>
</object_store>
